<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit a book</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
<center>
    <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}">
        <label>Enter a title: </label>
        <input type="text" th:value="${book.getTitle()}" name="title"/>
        <br/>
        <label>Enter book's author: </label>
        <input type="text" th:value="${book.getAuthor()}" name="author"/>
        <br/>
        <label>Enter book's year: </label>
        <input type="text" th:value="${book.getYear()}" name="year"/>
        <br/>
        <label>Choose book's holder: </label>
        <select th:object="${person}" th:field="*{id}" name="holder_id">
            <option th:each="person : ${people}" th:value="${person.id}" th:text="${person.getName()}">
            </option>
        </select>
        <input type="submit" value="Edit a book"/>
    </form>
</center>
</body>
</html>
