<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books list</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
<center>
<p>Search:</p>
<form th:method="POST"  th:action="@{/books/search}">
    <label>Enter a book's title:..</label>
    <br>
    <input type="text" id="query" name="query" placeholder="Farid"/>
    <input type="submit" value="Search!" style="font-family: consolas">
</form>
<br>
<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
            th:text="${book.getTitle()} + ', '+${book.getAuthor()}+', '+${book.getYear()}">user</a>
</div>
<br>
<a href="/books/new">Add a new book</a>
</center>
</body>
</html>