<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books list</title>
</head>
<body>
<p>Search:</p>
<form th:method="POST"  th:action="@{/books/search}">
    <label>Enter a book's title</label>
    <input type="text" id="query" name="query"/>
    <input type="submit" value="Search!">
</form>
<br>
<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
            th:text="${book.getTitle()} + ', '+${book.getAuthor()}+', '+${book.getYear()}">user</a>
</div>
<br>
<a href="/books/new">Add a new book</a>
</body>
</html>